

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('onconnect', {data: 'I\'m connected! Hell Yeah'});
        });

        socket.on('recieve', function(data) {
            addDataToTextarea("Added");
            console.log("added");
        });

 task = {{task | safe}};

socket.emit('recieved', {data: task});

socket.on('stdout', function(data) {
    $('#myTextarea').html(data['output']);
    });
    </script>
